.BuildControls{
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: #CF8F2E;
    align-items: center;
    box-shadow: 0 2px 10px #ccc;
    margin: auto;
    padding: 10px 0;
}